<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133830467532-c5ehvqvlk5pnsqt92obvj9nfo0mvgp0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133830467532-c5ehvqvlk5pnsqt92obvj9nfo0mvgp0k</string>
	<key>API_KEY</key>
	<string>AIzaSyAULZGYKUH62s529SvscUJRl-vUGcsRA8E</string>
	<key>GCM_SENDER_ID</key>
	<string>133830467532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.watanao.study</string>
	<key>PROJECT_ID</key>
	<string>mathlearn-4713b</string>
	<key>STORAGE_BUCKET</key>
	<string>mathlearn-4713b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133830467532:ios:eaed4d3fe74314ab370769</string>
</dict>
</plist>