

@import "../header.css";
@import "header.css";


/*************************基本設定部*****************************/

/**　bodyについて　**/
body{
    margin: 10px;
}

main{
    margin-top: 30px;
}

footer{
    margin-top: 50px;
}

/**　aタグについて　**/
a{
    color: teal;
}

a:hover{
    color: tomato;
}

a:active{
    color: tomato;
}


/*************************個別設定部*****************************/

div#titleCentering{
    text-align: center;
}

h1#title{
    color: purple;
    text-align: center;
}




p#createdAt{
    text-align: right;
}