
@import "../header.css";
@import "header.css";

/***********************************大きな部分***********************************/

/**　本文に関する内容、　**/
body{
    -webkit-text-size-adjust: 100%;
}

/**　メインに関する内容　
main{

}**/

/**　フッターに関する内容　
footer{

}**/


/**dl{

}**/

dt{
    font-weight: bold;
}

dd{
    margin-bottom: 2vh;
}

/**　h2に関する部分　**/
h2{
    margin-top: 20px;
}

/***********************************小さな部分***********************************/

strong#privacy_policy{
    color: red;
}

/*ol#for_personal_user{

}*/

p#end_above{
    text-align: right;
}